<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ApiDitados</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/styles/img/icon.png">
</head>
<body>
    <div class="divInfo">
    <% info.forEach(element =>{ %>
        <p class="info"> <%= element.prov1%> <!-- <%=element.prov2%> --> </p>
        <% }) %>
    </div>
</body>
</html>