<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ApiDitados</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/styles/img/icon.png">
</head>
<body>
    <div class="divInfo">
        <form action="/action_page.php">
            <label class="info" for="addNovoDitado">Adicionar novo ditado: </label><br>
            <input class="input" type="text" id="newDitado" name="newDitado"><br><br> 
            <label class="info" for="buscarDitado">Clique no botão abaixo para ver um ditado aleatório:</label><br>
            <input class= "button" type="button" value="Buscar por um ditado">
            
        </form>

        

    <% info.forEach(element =>{ %>
        <p class="info"> <%= element.prov2%> <!-- <%=element.prov2%> --> </p>
       
        <% }) %>
        
        <% item.forEach(element =>{ %>
            <p class="info"> <%= element.item%> <!-- <%=element.prov2%> --> </p>
           
            <% }) %>
        
        
            
            
       
        
    </div>
        <!-- <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <input type="submit" value="Submit"> -->
</body>
</html>