<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ApiDitados</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/styles/img/icon.png">
    <!-- font link -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="divInfo">
        <form action="/nossaapi">
            <!-- <label class="info" for="addNovoDitado">Adicionar novo ditado: </label><br>
            <input class="input" type="text" id="newDitado" name="newDitado"><br><br> -->
            <label class="info" for="buscarDitado">Clique no botão abaixo para ver um ditado aleatório:</label><br>
            <div class="div-button">
                <input class="button" type="submit" value="Buscar por um ditado">
            </div>
            <p class="item-info"> <%= Object.values(item) %> </p>
        </form>
    </div>
</body>

</html>