body{
    font-family: 'Poppins', sans-serif;
    min-height: 96.5vh;
    background: linear-gradient(310deg, #000555, #005555);
    color: aliceblue;
    display: flex;
    justify-content: center;
    
}

.item-info{
    text-shadow: black;
    font-size: 25px;
    font-weight: 300;

    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 20px;
}

.info{
    text-shadow: black;
    font-size: 25px;
    font-weight: 700;

    display: flex;
    justify-content: center;
}

.divInfo{
    background-color: aliceblue;
    color: #005555;
 
    padding: 40px;
    border-radius: 8px;

    display: flex;
    justify-content: center;

    margin-top: 150px;

    width: 50%;
    height: 50%;
}

.div-button{
    display: flex;
    justify-content: center;
    align-items: center;

}

.button{
background-color: #005555;
color: aliceblue;
border: none;
font-family: 'Poppins', sans-serif;

display: flex;
justify-content: center;
align-items: center;

width: 350px;
height: 45px;
border-radius: 8px;
transition: 0.3s ease all;

}

.button:hover{
    background-color: #047c7c;
    color: rgb(255, 255, 255)
}

.input{
color: #005555;
min-width: 33%;
padding:5px;
margin-left: 22%;

border-radius: 7.5px;
min-width: 33%;
margin-top: 2%;
margin-bottom: 2%;
}