body{
    min-height: 96.5vh;
    background: linear-gradient(310deg, #000555, #005555);
    color: aliceblue;
    
}

.info{
text-shadow: black;
margin-left: 20px;
margin-right: 50px;
text-align: justify;
font-size: 25px;
}

.divInfo{
    background-color: aliceblue;
    color: #005555;
    border-style: hidden;
 
    padding: 2px;
    margin-left: 16.5%;
    margin-right: 16.5%;
    margin-top: 4.125%;
    border-radius: 8px;
}

/*https://www.pensador.com/proverbios_e_ditados_populares/
https://medium.com/reactbrasil/10-apis-gr%C3%A1tis-e-legais-para-voc%C3%AA-consumir-69141988ea0b
*/